[submodule "kroot-meta"]
	path = kroot-meta
	url = https://aur.archlinux.org/kroot-meta.git
[submodule "kenv-meta"]
	path = kenv-meta
	url = https://aur.archlinux.org/kenv-meta.git
[submodule "kcore-meta"]
	path = kcore-meta
	url = https://aur.archlinux.org/kcore-meta.git
[submodule "kother-meta"]
	path = kother-meta
	url = https://aur.archlinux.org/kother-meta.git
