pkgbase = kcore-meta
	pkgdesc = Core packages
	pkgver = 0.1.1
	pkgrel = 1
	url = https://gitlab.com/eadwu/pkgbuilds
	arch = x86_64
	license = unknown
	depends = acpi
	depends = alsa-utils
	depends = bluez
	depends = bluez-libs
	depends = bluez-utils
	depends = gnome-keyring
	depends = networkmanager
	depends = network-manager-applet
	depends = ntp
	depends = pulseaudio
	depends = pulseaudio-alsa
	depends = pulseaudio-bluetooth
	depends = xf86-input-libinput
	depends = xorg-server
	depends = xorg-xhost
	depends = xorg-xinit
	depends = xorg-xprop
	depends = xorg-xsetroot
	depends = xorg-xwininfo
	depends = yaourt
	source = 30-touchpad.conf
	sha512sums = ed5059b8d27c1fb2c83c2ad6fb1875a904a92fe10d3d44d91206840ad0f6955b8efecb1dddbc155040d8cd014dda3990f5c611ce3492819dba19419d924e9a3e

pkgname = kcore-meta

