pkgbase = evelauncher
	pkgdesc = Unofficial Eve Online Launcher
	pkgver = 1225328
	pkgrel = 1
	url = https://forums.eveonline.com/t/eve-launcher-for-linux/7286
	arch = any
	license = custom
	depends = alsa-lib
	depends = libpulse
	depends = lib32-libldap
	depends = lib32-openssl
	depends = lib32-mpg123
	depends = libwbclient
	depends = openssl
	depends = qt5-base
	depends = qt5-translations
	depends = qt5-webengine
	depends = qt5-webkit
	depends = qt5-webview
	depends = qt5-websockets
	depends = samba
	source = https://binaries.eveonline.com/evelauncher-1225328.tar.gz
	source = evelauncher.desktop
	source = EveOnline.png
	sha512sums = SKIP
	sha512sums = 897ebee1605ebdc63467f9b5ec0dc0c1b46a4ff793d52fd4c4912dd164dd50fcb950aa251452d34c520ee4f3679bf343f6471703a2a796e0062ae0623f27215f
	sha512sums = a56bfe5f64e8fe19214a1ba855316136969d04fb3f7d19bb04343ecb69f12df6ad2fe16d5014b28637afc51d24ad1f598d23023a061179013ccb6ce8e28bb5b3

pkgname = evelauncher

