pkgbase = stack
	pkgdesc = A cross-platform program for developing Haskell projects.
	pkgver = 1.7.1
	pkgrel = 1
	url = https://docs.haskellstack.org/en/stable/README/
	arch = x86_64
	license = custom
	depends = ncurses
	depends = git
	depends = gnupg
	depends = xz
	depends = zlib
	depends = gmp
	depends = libffi
	depends = zlib
	source = linux-x86_64.tar.gz::https://get.haskellstack.org/stable/linux-x86_64.tar.gz
	source = https://raw.githubusercontent.com/commercialhaskell/stack/v1.7.1/LICENSE
	sha512sums = SKIP
	sha512sums = 1984101b1bef33a743c7682bb8d0ba1a63a71d4e55e7c4233fd7975c61f81c416bdc11e3a88ec2561e78a9d51ea0fa5fdeacfec7a83dd226413f93775320b58c

pkgname = stack

