pkgbase = react-native-cli
	pkgdesc = React Native CLI tools
	pkgver = 2.0.1
	pkgrel = 1
	url = https://facebook.github.io/react-native/
	arch = any
	license = BSD-3-Clause
	makedepends = npm
	depends = nodejs
	options = !emptydirs

pkgname = react-native-cli

