pkgbase = react-native-cli
	pkgdesc = React Native CLI tools
	pkgver = 2.0.1
	pkgrel = 1
	url = https://facebook.github.io/react-native/
	arch = any
	license = BSD-3-Clause
	makedepends = npm
	depends = nodejs
	noextract = react-native-cli-2.0.1.tgz
	source = react-native-cli-2.0.1.tgz::https://registry.npmjs.org/react-native-cli/-/react-native-cli-2.0.1.tgz
	source = https://raw.githubusercontent.com/facebook/react-native/master/LICENSE
	sha512sums = SKIP
	sha512sums = b51daaa28d171b259f7ba3f58114606ae460eedf7ce044bdcba9231569c91d2e8bbb028b3b15e572b571493f0d76ec41ae93e777be164d515320d6800dfac66e

pkgname = react-native-cli

