pkgbase = bfg
	pkgdesc = Removes large or troublesome blobs like git-filter-branch does, but faster
	pkgver = 1.13.0
	pkgrel = 1
	url = https://rtyley.github.io/bfg-repo-cleaner/
	arch = x86_64
	license = GPL3
	depends = bash
	depends = java-environment
	source = bfg-1.13.0.jar::http://repo1.maven.org/maven2/com/madgag/bfg/1.13.0/bfg-1.13.0.jar
	source = bfg.sh
	sha512sums = SKIP
	sha512sums = 79e89b3fe700399dc77651dc9c75605ffcd2189cebdb2bc7b8c7ff9ba4a2639d6897063af92701e76fbd951717aa900f3e3db9846e967b1c7bb00122ab04e073

pkgname = bfg

